.FlickGetInfo {
  .popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    z-index: 9;
    top: 0;
    height: 100%;

    &_content {
      position: absolute;
      left: 50%;
      background: black;
      padding: 20px;
      top: 10%;
      transform: translateX(-50%);
    }

    &_close {
      border-radius: 10px;
      background-color: white;
      width: 20px;
      height: 20px;
      flex-wrap: wrap;
      color: black;
      position: absolute;
      text-align: center;
      top: 10px;
      right: 10px;
      z-index: auto;
      cursor: pointer;
    }
  }
}
